.banner {
  padding: 10px 0;
  box-shadow: 0 13px 23px rgba(0, 0, 0, 0.23);
  border-bottom: 5px solid #81b793;

  .brand {
    float: left;
  }

  .nav-primary {
    float: right;

    ul {

      li {
        float: left;

        a {
          line-height: 96px;
          padding: 10px 25px;
          font-family: "Work Sans", sans-serif;
          text-transform: uppercase;
          color: $text-secundary;
          font-weight: 800;

          &:hover {
            color: $brand-primary;
            background-color: transparent;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .banner {

    .brand img {
      max-height: 46px !important;
      height: 46px !important;
      width: auto !important;
    }

    .nav-primary ul li a {
      line-height: 34px;
    }
  }
}

.banner-header {
  position: relative;
  height: 250px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;

  &:before {
    content: '';
    position: absolute;
    margin: 0;
    z-index: -1;
    //height: 180px;

    height: 100%;
    width: 120%;
    left: -10%;
    right: -10%;

    margin-bottom: 40px;

    //border-radius: 50%;
    border-style: solid;
    border-color: #ffa61a;
    border-width: 0 20px 10px;

    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-bottomleft: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;

    background: no-repeat center;
    background-size: cover;
    background-image: url('../../assets/images/zen.jpg');
  }

  h1 {
    text-align: center;
    color: #ffa61a;

    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 80px;
    font-size: 50px;
  }

  //&:after {
  //  content: '';
  //  position: absolute;
  //  height: 100%;
  //  width: 120%;
  //  left: -10%;
  //  right: -10%;
  //  top: 0;
  //  border-radius: 50%;
  //  border-style: solid;
  //  border-color: #ffa61a;
  //  border-width: 0 20px 10px;
  //}
}

.page-header {
  border-bottom: none;
}